.screenshots {
    a img {
        width: 240px;
    }  
    .element {
        display: flex;
        justify-content: center; 
    }
    .screen {
        display: inline-block;
        margin: auto;
    }
}